BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ColumnLimit: 120
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
PenaltyBreakAssignment: 1000
